### 1.Program to scrape data for “Data Analyst” Job position in“Bangalore” location

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#lets connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.naukri.com/")
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [3]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [4]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [5]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist/Data Analyst-immediate',
 'Immediate openings For MIS executive /Data analyst For Bangalore',
 'Data Analyst',
 'Data Analyst']

In [6]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [7]:
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location[0:9]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(Koramangala)',
 'Bengaluru',
 'Bengaluru, Kolkata']

In [8]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [9]:
for i in exp_tags:
    title=i.text
    experience_required.append(title)
experience_required[0:10]

['0-3 Yrs',
 '3-8 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '0-4 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '2-7 Yrs',
 '3-4 Yrs',
 '2-5 Yrs']

In [10]:
company_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [11]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:9]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'RANDSTAD INDIA PVT LTD',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'St. John’s Research Institute',
 'Siemens Limited',
 'Sunstream Global Technologies LLP',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Pvt Ltd']

In [12]:
jobs_description=pd.DataFrame({})
jobs_description['job_title']=job_title[0:10]
jobs_description['job_location']=job_location[0:10]
jobs_description['company_name']=company_name[0:10]
jobs_description['experience_required']=experience_required[0:10]

In [13]:
jobs_description

,job_title,job_location,company_name,experience_required
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Immediate openings For MIS executive /Data ana...,Bengaluru,RANDSTAD INDIA PVT LTD,3-8 Yrs
2,Data Analyst,Bengaluru,Applied Materials,6-11 Yrs
3,Data Analyst,"Mumbai, Bengaluru, Hyderabad",Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs
4,Data Analyst,Bengaluru,St. John’s Research Institute,0-4 Yrs
5,Data Analyst,Bengaluru,Siemens Limited,0-3 Yrs
6,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Bengaluru(Koramangala),Sunstream Global Technologies LLP,0-3 Yrs
7,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
8,Data Analyst,"Bengaluru, Kolkata",Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs
9,Business Analyst / Data Analyst,Bengaluru,Schneider Electric India Pvt. Ltd.,2-5 Yrs

### 2.Program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [14]:
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.naukri.com/")
# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

# creating empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
full_job_description=[]

In [15]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist -Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist',
 'Software Developer - Data Scientist / NLP / Machine Learning',
 'Data Scientist - Machine Learning - Remote Working',
 'Lead Data Scientist - Complete Remote Work',
 'Data Scientist (Healthcare/Pharma Domain preferred)',
 'Data Scientist',
 'Data Scientist',
 'Tech Mahindra hiring For Data Scientist- Bangalore',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Principal Data Scientist',
 'Data Scientist',
 'Lead Data Scientist - Bangalore /Banking & Financial Domain is must',
 'Data Scientist (machine Learning /AI)',
 'Sr. Data Scientist',
 'Sr . Data Scientist']

In [16]:
#scraping the company_name 
companies=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:2]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited']

In [17]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru']

In [18]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [19]:
job_description=[]
# scraping the full job-description, for scraping full job description we have to go in each of the jobs separately
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]

In [20]:
import time

In [21]:
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        job_description.append(description[0])
    except NoSuchElementException :
        job_description.append("---")

In [22]:
job_description

['Dear Candidate\n\nSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm\n\nOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pm\nContact person :\n\nManigandan -+91 7299917200\nShantha +91 9790993237\n\n\nSystech Solutions\nTemple Steps\nTower 3, 6th Floor\n184-187 Anna Salai\nSaidapet, Chennai 600015\nIndia (Near Little Mount Metro Station)\nRoles and Responsibilities\n\nGreetings from CAIA !\nA great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization\nApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIn case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.\nWhat is needed from you?\n- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\n- Skills relating to Mathematics/Statistics.\n- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\n- Good verbal and written communication skills\n- Ability to understand domains in businesses across various sectors\n- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.\nSelection procedure includes\n- Online Aptitude Test\n- Logical Ability Test / Written Test\nOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.\nWhat you can expect from us?\nYou will get trained on the following modules for a period of 12-14 weeks:\n-SQL & PLSQL\n-Data Wrangling using Python\n-Statistics for Machine Learning,\n-Artificial Intelligence, Data Interpretation\n-Supervised & Unsupervised Learning,\n-NLP & Deep Learning\n-Cloud Data Lake\n-Business intelligence & Data Visualization\n-Simulation Projects\nWhat is the expected Outcome?\nAt the end of the Training you are expected to be well versed with the following:\n- Analysis of large and complex data sets from multiple sources\n- Development and evaluation of data analytics models, algorithms and solutions\n- Understanding/implementation of ML algorithms, performance tuning and reporting\n- Implementation of algorithms to mine targeted data and the ability to convert data into a business story\n- Translation of business requirements into technical requirements; Data extraction, preparation and transformation\n- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation\n- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nhttp://www.centerforaia.com/\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.\n5F World\n5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.\nSystech Solutions\nSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.\n\nWebsite\nhttp://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\n\n\n',
 "Dear Candidate,\n\nGreetings from HCL!!!\nWe are looking for Data scientists with experience in machine learning algorithms and strong SQL experience.\nIf you are Keen with Below Skill Set. Please do send the Updated CV with details such as current ctc, expected ctc and notice period to m_divvya@hcl.com / 8754448290.We are looking only for immediate joiners. Candidates with more than 30 days notice please don't apply.\n\n\nTechnical Skills:\nOverall 5+ years of experience in advanced analytics and leading/mentoring team members\nProficient in Python & SQL with minimum 2-3 years of hands on experience\nSolid fundamentals, knowledge of supervised, unsupervised, reinforcement learning machine learning and deep learning algorithms, such as classifiers, cluster analysis, dimension reduction, regression, CNN, RNN, DQN, temporal difference methods, sequence modeling, probability theory, algorithm design and theory of computation, information retrieval\nAbility to work and execute projects on both structured and unstructured data in a big data environment • Strong at preparing data for analysis using SQL and experience working with the industry leading BI tools like Tableau, visualizing the data and executing to specifications\nExperience of end to end implementation of predictive analytics projects for at least 1-3 years • Exposure to text analytics, web scraping, big data technologies and graph databases would be desirable • Exposure to visualization tools • Experience of intent to learn software domain related to VMware products and the way virtualization software/hardware\n\nPreferred Skills:\nGood understanding of API connections and data pipelining • Knowledge with Natural Language Processing (e.g. word2vec, doc2vec, attention, LDA) • Understanding of different model performance metrics and hyperparameter optimization • Business Acumen, ability to translate business needs into a set of workable, specific requirements • Well versed with MS PowerPoint/Visio\nAbility to understand business requirements, KPIs and convert into analytical hypothesis in a structured and logical manner along with solution identification • Ability to handle multiple projects at a time in terms of multitasking, prioritization, allocation and team management • Ability to coordinate and work within multiple business units from project management perspective • Ability to work across geographies and interact with global stakeholders • Prior experience working in Agile methodologies/JIRA would be a plus\nWhat we are looking for:\nBS/BE in Computer Sciences, Math, Statistics or related field. Masters preferred.\nProficient in SQL and experience with efficient processing of large data sets. Ability to write sophisticated and optimized queries against large databases • Proficient in data visualization tools such as Mode Analytics or Tableau • Proficient in Excel • Experience in statistical computing with Python/R • Ability to handle several concurrent activities with strong organizational skills and attention to detail We're team players. You'll do well if you're one too",
 '---',
 'Roles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS',
 'Mailkit is an European Marketing Automation company in search of a Data Scientist with knowledge in Python and Machine Learning to join our R&D team. Applicants should have knowledge of algorithms, statistical analysis, data mining / text mining with / NLP / NLTK , Text analytics, etc.\n\nKeeping in mind the current pandemic threat, we are offering remote job facility as well, that means selected candidate can work from his/her home comfort. But preference will be given to candidates who are willing to work from our office location in Kolkata. He or She should have minimum 3 years of experience in the said technology. Interested candidates should be able to present a good project portfolio. Developer(s) should be able to tactfully resolve complex issues and implement new things by himself or herself. Applicants should be able to speak and write good English.\n\nRoles and Responsibilities\nKnowledge in deep learning algorithms and AI system design and architecture.\nExcellent understanding of complex system architecture, components and requirements\nInnovative and creative, logical thinker,.\nAdvanced level proficiency in Python programming\nBe able to read, write and speak good English\n\nResponsibilities\nResponsible for machine learning technology and application analysis, understand the latest industrial and academic developments in AI/ML\nStudy and innovate in Deep Learning/machine learning and its application in diverse domains\nDesign competitive AI/ML services and user experience.\nWork with the team to integrate these algorithms into larger solutions.\nPerks and Benefits\nCandidates might get the opportunity to work from home.\nSaturdays and Sundays, fixed weekend offs.\nemployees get 6 sick leaves, 18 casual leaves and 14 calendar holidays every year.\non time salary, usually last working day of every month.',
 'Roles and Responsibilities\nWe are looking for a competent and enthusiastic candidate with the below requirement. This vital role ensures Cunesoft India Pvt Ltd (a Phlexglobal Company) Bangalore can provide a high-quality end product to internal and external users. This position requires strong technical and communication skills as well as both independent and team working, including working closely with all other areas of the software delivery team and the rest of the Technology department.\n\nRoles and Responsibilities\n\nKey Activities\nDevelop and improve the existing data mining and NLP related processes within our Regulatory Data Management platform\nDevelop new ways of improving and transforming the regulatory processes of Phlexglobal customers.\nInteract with product management, project management and development teams to develop additional modules and functions within the Phlexglobal Cloud Platform\nDesign and create solutions for pre specified modules and functions\nUse existing tools and techniques to develop and test new and existing work\nDefine, create and execute automated test cases, i.e. unit tests\nParticipate in troubleshooting and triaging of issues with different teams to drive towards root cause identification and resolution\nSupport production deployment of applications and perform validation testing during the off-hours maintenance windows\nSupport and fix existing and new identified issues by either customers or internal test teams.\n\n\nDesired Candidate Profile\n\nRequired Skills & Experience\nMinimum 3+ years working experience in NLP, Artificial Intelligence, Machine Learning, Text Mining, Neural Networks\nStrong programming skills using PYTHON\nIn depth experience with OpenNLP, Stanford NLP or related NLP / data mining technologies\nIn depth experience with Python and data libraries such as scikit learn, pandas, numpy, etc.\nSelecting features, building and optimizing classifiers using machine learning techniques\nExcellent understanding of Machine Learning Techniques and Algorithms.\nMust have Data mining / Natural Language Processing experience\nMust have very good understanding ofGIT\nProcessing, Cleansing, and verifying the integrity of data\nDevelop custom data models and algorithms to apply to data sets.\nDefining validation strategies\nDefining the preprocessing or feature engineering to be done on a given dataset\nDefining data augmentation pipelines\nTraining models and tuning their hyperparameters\nAnalyzing the errors of the model and designing strategies to overcome them\nDeploying models to production\n\nAdded advantages\n3+ years experience using Microsoft .NET / C#\nExposure to ML.Net, AutoML, NimbusML, etc\nGood knowledge of Microsoft Visual Studio is preferred\nGood to have Microsoft SQL Server, preferably Microsoft SQL Azure\nPrevious experience in the Life sciences area\nOther requirements\nExcellent verbal and written communication skills\nMust be flexible, independent and self motivated\nPunctual, Regular and consistent attendance\n\nEducation:\nBS degree in Information Systems, Computer Science, Web Systems, Electrical Engineering, Mathematics or domain related working experience\nAs part of the Interview process, could you please complete the Titanic project and share the predication results on Kaggle.com to move forward with interview.\n\nhttps://www.kaggle.com/c/titanic\n\nCandidates with relevant experience kindly contact me.\n\nWe are looking for a candidate who can join us immediately or in less than 15-20 days\n\nSrini\n+91 9731007277\nsarumugam@phlexglobal.com',
 "Please note that this role will be Remote / Home-based for next 6 to 12 months.\n\nIn DOJI, we are building a next generation marketplace and setting new standards for e-commerce buyers and sellers worldwide. We are a UK based tech start-up, founded by three passionate entrepreneurs with a track record of building and exiting successful ventures.\nWe're excited to build this world-class team that is going to reshape the way people buy and sell consumer goods.\n\nRoles and Responsibilities\n\nPerform exploratory and statistical analyses to understand and predict our customer behaviours, identify bottlenecks, and answer critical business questions.\nBuild and deploy scalable machine learning models and oversee their performance against KPIs.\nForecast our users conversion, engagement, and churn with rigorous statistical models\nBuild overall data capability of our organisation by performing complex data processing, building data pipelines and developing data products which can be directly used by our business users such as marketing and product teams\n\nRequirements\n\nFollowing are the mandatory skills & experience requirements for this role:\nBeen a data scientist for 2+ years in a commercial set-up\nDirect experience in performing statistical analyses or building a variety of machine learning models from complex, specialised or large data pools.\nPassion for understanding user behaviour and building solutions to optimise customer experience and growth.\nDemonstrated competency with unsupervised machine learning algorithms (k-means clustering, isolation forests etc.) and / or supervised algorithms (logistic regression, SVM, Random Forests, GBM etc.)\nDirect experience using programming languages such as Python or R for statistical and/or numeric computing\nUndergraduate degree in a quantitative discipline (maths, statistics, econometrics etc.) or computer science\n\nAlthough the following requirements are not mandatory, however we would strongly prefer candidates with this skill and experience.\nWe would prefer someone who also has experience in: data engineering, building data pipelines and cloud (AWS, Azure or GCP).\nExperience with additional programming languages used for data processing such as SQL, Hive, PySpark, Scala etc.\nExperience with consumer retail or e-commerce data\nPostgraduate degree in a quantitative discipline or computer science\n\nPerks and Benefits\n\nA very competitive package of 15 to 20 Lacs\nBe part of a start-up with an entrepreneurial mindset that thinks big, with a long-term vision.\nBe the owner of your own development in an environment that is full of opportunities, learning, growth, expansion and challenging projects.\nShare and learn with the team, amongst great professionals and experts.\nAn excellent work environment, with everything that you need to enjoy a great experience\n\nSince this role will be 'Remote' (e.g. home office) during the initial stages, you will be responsible to ensure proper working conditions (computer and related equipment, reliable internet connection, etc) and availability during normal business working hours. As per business needs, you could be asked to work from an office based office location in the future.\nIn Doji, we work hard to promote a culture of inclusiveness and diversity that seeks equality and values from different perspectives. We believe in building trust and fairness amongst people and making a positive impact on the environment.\nShould you require reasonable adjustments throughout the hiring process, please don't hesitate to get in touch with us.",

In [23]:
 # creating the dataframe from the scraped data and taking only first 10 jobs
df=pd.DataFrame({"job_title":job_title[0:10],"company_name":company_name[0:10],"job_location":job_location[0:10],
                "job_description":job_description[0:10]})
df.head()

,job_title,company_name,job_location,job_description
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",Dear Candidate\n\nSchedule a Telephonic Interv...
1,HCL hiring Data scientist with exp in machine ...,HCL Technologies Limited,Bengaluru,"Dear Candidate,\n\nGreetings from HCL!!!\nWe a..."
2,Data Scientist -Machine Learning,(9599 Reviews),Bengaluru,---
3,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru,Roles and Responsibilities\n\n\n- Selecting fe...
4,Data Scientist,(119 Reviews),"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, G...",Mailkit is an European Marketing Automation co...

### 3.“Data Scientist”,“Delhi/NCR”,“3-6” lakhs

In [24]:
#specifying the url of the webpage to be scraped by opening driver
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.naukri.com/")
# entering “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id('qsb-location-sugg')
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Delhi/NCR")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [25]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [26]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    if i.text is None :
        job_title.append("--") 
    else:
        job_title.append(i.text)
    
job_title[0:2]

['Data Scientist', 'Data Scientist - Machine Learning - Remote Working']

In [27]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [28]:
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location[0:9]

['Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Greater Noida, Hyderabad, Gurgaon, Kolkata',
 'Delhi NCR, Bengaluru, Anywhere in India',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'Gurgaon Gurugram',
 'Delhi NCR, Gurgaon']

In [29]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [30]:
for i in exp_tags:
    title=i.text
    experience_required.append(title)
experience_required[0:10]

['4-9 Yrs',
 '2-5 Yrs',
 '9-14 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '2-4 Yrs']

In [31]:
company_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [32]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:9]

['Mailkit Private Limited',
 'Doji Ltd',
 'Techolution India Private Limited',
 'Jubna',
 'tech mahindra ltd',
 'tech mahindra ltd',
 'Indegene Private Limited',
 'TransOrg Analytics',
 'Air Asia India Limited']

In [33]:
jobs_description=pd.DataFrame({})
jobs_description['job_title']=job_title[0:10]
jobs_description['job_location']=job_location[0:10]
jobs_description['company_name']=company_name[0:10]
jobs_description['experience_required']=experience_required[0:10]
jobs_description

,job_title,job_location,company_name,experience_required
0,Data Scientist,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, G...",Mailkit Private Limited,4-9 Yrs
1,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd,2-5 Yrs
2,Lead Data Scientist - Complete Remote Work,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Techolution India Private Limited,9-14 Yrs
3,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
4,Tech Mahindra is Hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
5,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
6,Associate Data Scientist,Gurgaon,Indegene Private Limited,6-11 Yrs
7,Data Scientist,Gurgaon Gurugram,TransOrg Analytics,3-6 Yrs
8,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
9,Analyst/Senior Analyst - DATA Scientist,"Chennai, Delhi NCR, Bengaluru",Tredence,2-4 Yrs

### 4.web scraping from https://www.glassdoor.co.in/index.htm

In [41]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm")

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

search_field_designation=driver.find_element_by_id('sc.keyword') search_field_location=driver.find_element_by_id('sc.location') search_field_designation.send_keys("Data Scientist") search_field_location.send_keys("Noida") search_button=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']/span") search_button.click()

company_name=[]

In [42]:
company_name=[]
days_ago=[]
rating=[]

In [43]:
company_tags=driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a/span")

In [44]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:4]

['UnitedHealth Group',
 'Genpact',
 'Builder.ai - What would you Build?',
 'Techlive']

In [45]:
days_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [46]:
days=[]
for i in days_tags:
    title=i.text
    days.append(title)
days[0:4]

['2d', '10d', '25d', '16d']

In [47]:
rating_tags=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-fbt9gv e1rrn5ka2']/span")

In [48]:
for i in rating_tags:
    title=i.text
    rating.append(title)
rating[0:4]

['3.5', '3.8', '3.6', '5']

In [49]:
jobs_description=pd.DataFrame({})
jobs_description['company_name']=company_name[0:10]
jobs_description['days_ago']=days[0:10]
jobs_description['rating']=rating[0:10]
jobs_description

                             company_name days_ago rating
0                      UnitedHealth Group       2d    3.5
1                                 Genpact      10d    3.8
2      Builder.ai - What would you Build?      25d    3.6
3                                Techlive      16d      5
4                                 Sentieo      17d    4.1
5                                Brickred       1d    3.7
6                         Mahajan Imaging      10d      4
7                         abc consultants      10d    4.2
8  Terra Economics & Analytics Lab (TEAL)      11d    4.9
9                               XCEEDANCE      18d    3.4

### 5.Data Scientist designation in Noida location from glassdoor

In [50]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn")

In [51]:
company_name=[]
salaries=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [52]:
company_tags=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")

In [53]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:4]

['Delhivery', 'Ericsson-Worldwide', 'Accenture', 'Tata Consultancy Services']

In [54]:
sal_tags=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")

In [55]:
salarie=[]
for i in sal_tags:
    title=i.text
    salarie.append(title)
salarie[0:4]

['13 salaries', '11 salaries', '10 salaries', '9 salaries']

In [56]:
sal_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [57]:
for i in sal_tags:
    title=i.text.replace("\n","")
    avg_salary.append(title)
avg_salary[0:4]

['₹ 12,81,419/yr', '₹ 7,52,052/yr', '₹ 9,98,925/yr', '₹ 6,02,000/yr']

min_tags=driver.find_elements_by_xpath("//div[@class='adSlot adSlot__GamAdSlotStyle__adSlot  module']/div[8]/span[1]")
min_tags[0:3]

//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[3]/div/div[2]/span[1]

In [58]:
salary=pd.DataFrame({})
salary['company_name']=company_name[0:10]
salary['salaries']=salarie[0:10]
salary['average_salary']=avg_salary[0:10]
salary

                     company_name     salaries  average_salary
0                       Delhivery  13 salaries  ₹ 12,81,419/yr
1              Ericsson-Worldwide  11 salaries   ₹ 7,52,052/yr
2                       Accenture  10 salaries   ₹ 9,98,925/yr
3       Tata Consultancy Services   9 salaries   ₹ 6,02,000/yr
4                             IBM   9 salaries   ₹ 7,71,657/yr
5              UnitedHealth Group   8 salaries  ₹ 12,22,902/yr
6              Valiance Solutions   8 salaries   ₹ 7,91,015/yr
7                      Innovaccer   7 salaries  ₹ 12,15,138/yr
8  Cognizant Technology Solutions   6 salaries  ₹ 10,21,889/yr
9                   ZS Associates   5 salaries  ₹ 10,00,000/yr

### 6.To Scrape data of first 100 sunglasses listings on flipkart.com

In [59]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [60]:
brands=[]
product_descr=[]
prices=[]
discount_=[]

In [61]:
for i in range(0,3):
    for i in driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]"):
        brands.append(i.text)
    for j in driver.find_elements_by_xpath("//div[@class='_2B099V']/a"):
        product_descr.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]"):
        prices.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[3]/span"):
        discount_.append(l.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
    time.sleep(3)

In [62]:
brands[0:3]

['Royal Son', 'ROZZETTA CRAFT', 'FDA COLLECTION']

In [63]:
product_descr[0:3]

['Polarized, Mirrored Round Sunglasses (49)',
 '₹615₹1,99969% off',
 'Polarized, Gradient, UV Protection Round Sunglasses (Fr...']

In [64]:
product_description=product_descr[::2]

In [65]:
prices[0:3]

['₹615', '₹426', '₹199']

In [66]:
discount_[0:3]

['69% off', '78% off', '84% off']

In [67]:
glasses=pd.DataFrame({})
glasses['Brand']=brands[0:100]
glasses['Product_description']=product_description[0:100]
glasses['Price']=prices[0:100]
glasses['Discount']=discount_[0:100]

In [68]:
glasses

,Brand,Product_description,Price,Discount
0,Royal Son,"Polarized, Mirrored Round Sunglasses (49)",₹615,69% off
1,ROZZETTA CRAFT,"Polarized, Gradient, UV Protection Round Sungl...",₹426,78% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
3,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹219,78% off
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
...,...,...,...,...
95,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹559,87% off
96,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹244,79% off
97,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹181,81% off
98,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹331,83% off
99,Flizz,"UV Protection, Polarized Rectangular Sunglasse...",₹179,81% off

### 7.Scrape 100 reviews data from flipkart.com for iphone11 phone

In [69]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART")

In [70]:
ratingss=[]
review_summariess=[]
full_reviewss=[]

In [72]:
for l in range(0,13):
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        ratingss.append(i.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review_summariess.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div[1]"):
        full_reviewss.append(k.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
    time.sleep(3)

In [73]:
apple_phone=pd.DataFrame({})
apple_phone['rating']=ratingss[0:100]
apple_phone['review_summary']=review_summariess[0:100]
apple_phone['full_summary']=full_reviewss[0:100]
apple_phone

,rating,review_summary,full_summary
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Terrific purchase,The built quality is not very premium.\nThe ba...
97,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
98,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
99,5,Wonderful,I just directly switch from iphone 6s to iphon...

### 8.Scrape data for first 100 sneakers from flipkart

In [74]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [75]:
brands=[]
product_descr=[]
prices=[]
discount_=[]

In [76]:
for i in range(0,3):
    for i in driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]"):
        brands.append(i.text)
    for j in driver.find_elements_by_xpath("//div[@class='_2B099V']/a"):
        product_descr.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]"):
        prices.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[3]/span"):
        discount_.append(l.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
    time.sleep(3)

In [77]:
product_descr[0:6]

["MULTICOLOUR SHOES FOR MEN'S Sneakers For Men",
 '₹398₹99960% off',
 'X-Ray 2 Square PACK Sneakers For Men',
 '₹4,339₹6,99938% off',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 '₹499₹1,99675% off']

In [78]:
product_description=product_descr[::2]
product_description[0:3]

["MULTICOLOUR SHOES FOR MEN'S Sneakers For Men",
 'X-Ray 2 Square PACK Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men']

In [79]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brands[0:100]
sneakers['Product_description']=product_description[0:100]
sneakers['Price']=prices[0:100]
sneakers['Discount']=discount_[0:100]
sneakers

,Brand,Product_description,Price,Discount
0,MISHTOO,MULTICOLOUR SHOES FOR MEN'S Sneakers For Men,₹398,60% off
1,Puma,X-Ray 2 Square PACK Sneakers For Men,"₹4,339",38% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹378,62% off
...,...,...,...,...
95,Chevit,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹224,64% off
96,Red Rose,Sneakers For Men,₹398,70% off
97,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹260,59% off
98,Hotstyle,Sneakers For Men,₹499,62% off
99,DIGITRENDZZ,Sneakers For Men,₹349,85% off

### 9.Go to the link - https://www.myntra.com/shoes ,Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black"

In [83]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5839.0_11559.0_5839.0%20TO%2011559.0")

In [84]:
brands=[]
product_descr=[]
prices=[]

In [88]:
for i in range(0,5):
    for i in driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3"):
        brands.append(i.text)
    for j in driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4"):
        product_descr.append(j.text)
    for k in driver.find_elements_by_xpath("//span[@class='product-discountedPrice']"):
        prices.append(k.text)
    driver.find_element_by_xpath("//li[@class='pagination-next']/a").click()
    time.sleep(3)

In [89]:
product_description=product_descr[::2]

In [90]:
shoes=pd.DataFrame({})
shoes['Brand']=brands[0:100]
shoes['Product_description']=product_description[0:100]
shoes['Price']=prices[0:100]
shoes

                   Brand             Product_description     Price
0                   Nike     Men JORDAN DELTA Basketball  Rs. 9999
1                   Puma  Men HYBRID NETFIT Running Shoe  Rs. 6599
2                   Nike    Men Solid SKYVE MAX Sneakers  Rs. 6999
3                   Nike       Men JORDAN DELTA Sneakers  Rs. 8199
4                   Nike          Men Zoom Running Shoes  Rs. 6399
..                   ...                             ...       ...
95                  Nike   Women AIR MAX VERONA Sneakers  Rs. 6742
96  Heel & Buckle London      Men Leather Formal Oxfords  Rs. 5949
97                  Xtep      AIR MEGA Energy Ring Shoes  Rs. 8099
98        Tommy Hilfiger   Men Solid TS Sport 2 Sneakers  Rs. 5949
99        Tommy Hilfiger    CHUNKY TECH Leather Sneakers  Rs. 9443

[100 rows x 3 columns]

### 10.Go to webpage https://www.amazon.in/ then search for laptop

In [91]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611304960&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17")

In [92]:
title=[]
ratings=[]
price=[]

In [93]:
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
    title.append(i.text)

In [94]:
for i in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
    price.append(i.text)

In [95]:
for i in range(0,11):
    driver.find_element_by_xpath("//i[@class='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']").click()
    for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']"):
        ratings.append(i.text)

In [96]:
laptops=pd.DataFrame({})
laptops['Title']=title[0:10]
laptops['ratings']=ratings[0:10]
laptops['Price']=price[0:10]
laptops

                                               Title       ratings     Price
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    51,999
1  Dell XPS 9570 15.6-inch FHD Laptop (8th Gen Co...  4.4 out of 5  1,27,990
2  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    53,599
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    51,999
4  (Renewed) Dell Latitude E6420 14 Inch Laptop (...  4.4 out of 5    45,000
5  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    52,699
6  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    54,399
7  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    55,299
8  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  4.4 out of 5    97,700
9  Acer Nitro 5 Intel Core i7 10750H 15.6" FHD IP...  4.4 out of 5    78,990