### 1.Program to scrape data for “Data Analyst” Job position in“Bangalore” location

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
#lets connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [3]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore")

In [4]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [5]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [6]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist/Data Analyst-immediate',
 'Immediate openings For MIS executive /Data analyst For Bangalore',
 'Data Analyst',
 'Data Analyst']

In [7]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [8]:
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location[0:9]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(Koramangala)',
 'Bengaluru',
 'Bengaluru']

In [9]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [10]:
for i in exp_tags:
    title=i.text
    experience_required.append(title)
experience_required[0:10]

['0-3 Yrs',
 '3-8 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '0-4 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '6-9 Yrs',
 '2-7 Yrs',
 '3-4 Yrs']

In [11]:
company_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [12]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:9]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'RANDSTAD INDIA PVT LTD',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'St. John’s Research Institute',
 'Siemens Limited',
 'Sunstream Global Technologies LLP',
 'Shell India Markets Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited']

In [13]:
jobs_description=pd.DataFrame({})
jobs_description['job_title']=job_title[0:10]
jobs_description['job_location']=job_location[0:10]
jobs_description['company_name']=company_name[0:10]
jobs_description['experience_required']=experience_required[0:10]

In [14]:
jobs_description

,job_title,job_location,company_name,experience_required
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Immediate openings For MIS executive /Data ana...,Bengaluru,RANDSTAD INDIA PVT LTD,3-8 Yrs
2,Data Analyst,Bengaluru,Applied Materials,6-11 Yrs
3,Data Analyst,"Mumbai, Bengaluru, Hyderabad",Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs
4,Data Analyst,Bengaluru,St. John’s Research Institute,0-4 Yrs
5,Data Analyst,Bengaluru,Siemens Limited,0-3 Yrs
6,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Bengaluru(Koramangala),Sunstream Global Technologies LLP,0-3 Yrs
7,ID&A - Data Analyst - Informatica MDM,Bengaluru,Shell India Markets Private Limited,6-9 Yrs
8,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
9,Data Analyst,"Bengaluru, Kolkata",Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs

### 2.Program to scrape data for “Data Scientist” Job position in “Bangalore” location

In [15]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore")

In [16]:
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [17]:
title_tags=driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")

In [18]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning']

In [19]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [20]:
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location[0:4]

['Chennai, Pune, Bengaluru, Hyderabad', 'Bengaluru', 'Bengaluru', 'Bengaluru']

In [21]:
company_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [22]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:9]

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited',
 'AugmatrixGo',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Philips India Limited',
 'Cunesoft India Private Limited',
 'Doji Ltd',
 'GENPACT India Private Limited']

URL=[]
title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
for i in title_tags:
    URL.append(i.get_attribute('href'))


URL.click()
desc_tags=driver.find_elements_by_xpath("//section[@class='job-desc']")
desc_tags[0:4]

In [23]:
import time

In [24]:
job_des=[]

In [25]:
driver.get("https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16114107947764077&xp=1&px=1")

In [26]:
des_tags=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")

In [27]:
for i in des_tags:
    title=i.text.replace("\n","")
    job_des.append(title)

In [28]:
driver.get("https://www.naukri.com/job-listings-hcl-hiring-data-scientist-with-exp-in-machine-learning-sql-bangalore-hcl-technologies-limited-bengaluru-bangalore-5-to-10-years-190121001223?src=jobsearchDesk&sid=16114107947764077&xp=2&px=1")
des_tags=driver.find_elements_by_xpath("//div[@class='dang-inner-html']")
for i in des_tags:
    title=i.text.replace("\n","")
    job_des.append(title)
job_des

['Dear CandidateSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pmOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pmContact person :Manigandan -+91 7299917200Shantha +91 9790993237Systech SolutionsTemple StepsTower 3, 6th Floor184-187 Anna SalaiSaidapet, Chennai 600015India (Near Little Mount Metro Station)Roles and ResponsibilitiesGreetings from CAIA !A great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data VisualizationApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.In case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.What is needed from you?- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA- Skills relating to Mathematics/Statistics.- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization- Good verbal and written communication skills- Ability to understand domains in businesses across various sectors- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.Selection procedure includes- Online Aptitude Test- Logical Ability Test / Written TestOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.What you can expect from us?You will get trained on the following modules for a period of 12-14 weeks:-SQL & PLSQL-Data Wrangling using Python-Statistics for Machine Learning,-Artificial Intelligence, Data Interpretation-Supervised & Unsupervised Learning,-NLP & Deep Learning-Cloud Data Lake-Business intelligence & Data Visualization-Simulation ProjectsWhat is the expected Outcome?At the end of the Training you are expected to be well versed with the following:- Analysis of large and complex data sets from multiple sources- Development and evaluation of data analytics models, algorithms and solutions- Understanding/implementation of ML algorithms, performance tuning and reporting- Implementation of algorithms to mine targeted data and the ability to convert data into a business story- Translation of business requirements into technical requirements; Data extraction, preparation and transformation- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholdersCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics2. Advanced Training programs for readying the future ready workforce3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.http://www.centerforaia.com/Center for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.5F World5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.Systech SolutionsSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.Websitehttp://www.centerforaia.com/https://inflexion-analytix-private-limited.business.site/?m=trueContact PersonShantha/ManigandanPhone Number9790993237 / 7299917200Emailmanigandan@centerforaia.comDesired Candidate ProfilePerks and Benefits',
 "Dear Candidate,Greetings from HCL!!!We are looking for Data scientists with experience in machine learning algorithms and strong SQL experience.If you are Keen with Below Skill Set. Please do send the Updated CV with details such as current ctc, expected ctc and notice period to m_divvya@hcl.com / 8754448290.We are looking only for immediate joiners. Candidates with more than 30 days notice please don't apply.Technical Skills:Overall 5+ years of experience in advanced analytics and leading/mentoring team membersProficient in Python & SQL with minimum 2-3 years of hands on experienceSolid fundamentals, knowledge of supervised, unsupervised, reinforcement learning machine learning and deep learning algorithms, such as classifiers, cluster analysis, dimension reduction, regression, CNN, RNN, DQN, temporal difference methods, sequence modeling, probability theory, algorithm design and theory of computation, information retrievalAbility to work and execute projects on both structured and unstructured data in a big data environment • Strong at preparing data for analysis using SQL and experience working with the industry leading BI tools like Tableau, visualizing the data and executing to specificationsExperience of end to end implementation of predictive analytics projects for at least 1-3 years • Exposure to text analytics, web scraping, big data technologies and graph databases would be desirable • Exposure to visualization tools • Experience of intent to learn software domain related to VMware products and the way virtualization software/hardwarePreferred Skills:Good understanding of API connections and data pipelining • Knowledge with Natural Language Processing (e.g. word2vec, doc2vec, attention, LDA) • Understanding of different model performance metrics and hyperparameter optimization • Business Acumen, ability to translate business needs into a set of workable, specific requirements • Well versed with MS PowerPoint/VisioAbility to understand business requirements, KPIs and convert into analytical hypothesis in a structured and logical manner along with solution identification • Ability to handle multiple projects at a time in terms of multitasking, prioritization, allocation and team management • Ability to coordinate and work within multiple business units from project management perspective • Ability to work across geographies and interact with global stakeholders • Prior experience working in Agile methodologies/JIRA would be a plusWhat we are looking for:BS/BE in Computer Sciences, Math, Statistics or related field. Masters preferred.Proficient in SQL and experience with efficient processing of large data sets. Ability to write sophisticated and optimized queries against large databases • Proficient in data visualization tools such as Mode Analytics or Tableau • Proficient in Excel • Experience in statistical computing with Python/R • Ability to handle several concurrent activities with strong organizational skills and attention to detail We're team players. You'll do well if you're one too"]

In [29]:
jobs_description=pd.DataFrame({})
jobs_description['job_title']=job_title[0:10]
jobs_description['job_location']=job_location[0:10]
jobs_description['company_name']=company_name[0:10]
jobs_description

,job_title,job_location,company_name
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited
2,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo
3,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED
4,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED
5,Senior Data Scientist,Bengaluru,Philips India Limited
6,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,Cunesoft India Private Limited
7,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd
8,Data Scientist,Bengaluru,GENPACT India Private Limited
9,Data Scientist (Healthcare/Pharma Domain prefe...,Bengaluru,GENPACT India Private Limited

### 3.“Data Scientist”,“Delhi/NCR”,“3-6” lakhs

In [30]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6")

In [31]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [33]:
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:4]

['Data Scientist - Python/Machine Learning',
 'Tech Mahindra hiring For Data Scientist- Noida',
 'Data Scientist - Commercial Planning and Analysis',
 'Data Scientist - Machine Learning/ Artificial Intelligence - IT']

In [34]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

In [35]:
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location[0:9]

['Noida',
 'Noida',
 'Delhi NCR, Gurgaon',
 'Delhi/NCR Delhi NCR, Noida',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon Gurugram',
 'Gurgaon',
 'Delhi NCR',
 'Gurgaon']

In [36]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [37]:
for i in exp_tags:
    title=i.text
    experience_required.append(title)
experience_required[0:10]

['5-8 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '3-5 Yrs',
 '1-3 Yrs']

In [38]:
company_tags=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

In [39]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:9]

['Jubna',
 'tech mahindra ltd',
 'Air Asia India Limited',
 'Talent Acceleration Corridor',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Delhivery',
 'Eighteen Pixels India Private Limited',
 'HyreFox Consultants Pvt Ltd']

In [40]:
jobs_description=pd.DataFrame({})
jobs_description['job_title']=job_title[0:10]
jobs_description['job_location']=job_location[0:10]
jobs_description['company_name']=company_name[0:10]
jobs_description['experience_required']=experience_required[0:10]
jobs_description

,job_title,job_location,company_name,experience_required
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
2,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
3,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
4,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
5,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
6,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
7,Data Scientist,Delhi NCR,Eighteen Pixels India Private Limited,2-6 Yrs
8,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs
9,Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,1-3 Yrs

### 4.web scraping from https://www.glassdoor.co.in/index.htm

In [41]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm")

In [42]:
company_name=[]
days_ago=[]
rating=[]

In [43]:
company_tags=driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a/span")

In [44]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:4]

['UnitedHealth Group',
 'Genpact',
 'Builder.ai - What would you Build?',
 'Techlive']

In [45]:
days_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [46]:
days=[]
for i in days_tags:
    title=i.text
    days.append(title)
days[0:4]

['2d', '10d', '25d', '16d']

In [47]:
rating_tags=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-fbt9gv e1rrn5ka2']/span")

In [48]:
for i in rating_tags:
    title=i.text
    rating.append(title)
rating[0:4]

['3.5', '3.8', '3.6', '5']

In [49]:
jobs_description=pd.DataFrame({})
jobs_description['company_name']=company_name[0:10]
jobs_description['days_ago']=days[0:10]
jobs_description['rating']=rating[0:10]
jobs_description

                             company_name days_ago rating
0                      UnitedHealth Group       2d    3.5
1                                 Genpact      10d    3.8
2      Builder.ai - What would you Build?      25d    3.6
3                                Techlive      16d      5
4                                 Sentieo      17d    4.1
5                                Brickred       1d    3.7
6                         Mahajan Imaging      10d      4
7                         abc consultants      10d    4.2
8  Terra Economics & Analytics Lab (TEAL)      11d    4.9
9                               XCEEDANCE      18d    3.4

### 5.Data Scientist designation in Noida location from glassdoor

In [50]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn")

In [51]:
company_name=[]
salaries=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [52]:
company_tags=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")

In [53]:
for i in company_tags:
    title=i.text
    company_name.append(title)
company_name[0:4]

['Delhivery', 'Ericsson-Worldwide', 'Accenture', 'Tata Consultancy Services']

In [54]:
sal_tags=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")

In [55]:
salarie=[]
for i in sal_tags:
    title=i.text
    salarie.append(title)
salarie[0:4]

['13 salaries', '11 salaries', '10 salaries', '9 salaries']

In [56]:
sal_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")

In [57]:
for i in sal_tags:
    title=i.text.replace("\n","")
    avg_salary.append(title)
avg_salary[0:4]

['₹ 12,81,419/yr', '₹ 7,52,052/yr', '₹ 9,98,925/yr', '₹ 6,02,000/yr']

min_tags=driver.find_elements_by_xpath("//div[@class='adSlot adSlot__GamAdSlotStyle__adSlot  module']/div[8]/span[1]")
min_tags[0:3]

//*[@id="SalariesByCompany"]/div[1]/div[4]/div/div[3]/div/div[2]/span[1]

In [58]:
salary=pd.DataFrame({})
salary['company_name']=company_name[0:10]
salary['salaries']=salarie[0:10]
salary['average_salary']=avg_salary[0:10]
salary

                     company_name     salaries  average_salary
0                       Delhivery  13 salaries  ₹ 12,81,419/yr
1              Ericsson-Worldwide  11 salaries   ₹ 7,52,052/yr
2                       Accenture  10 salaries   ₹ 9,98,925/yr
3       Tata Consultancy Services   9 salaries   ₹ 6,02,000/yr
4                             IBM   9 salaries   ₹ 7,71,657/yr
5              UnitedHealth Group   8 salaries  ₹ 12,22,902/yr
6              Valiance Solutions   8 salaries   ₹ 7,91,015/yr
7                      Innovaccer   7 salaries  ₹ 12,15,138/yr
8  Cognizant Technology Solutions   6 salaries  ₹ 10,21,889/yr
9                   ZS Associates   5 salaries  ₹ 10,00,000/yr

### 6.To Scrape data of first 100 sunglasses listings on flipkart.com

In [59]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [60]:
brands=[]
product_descr=[]
prices=[]
discount_=[]

In [61]:
for i in range(0,3):
    for i in driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]"):
        brands.append(i.text)
    for j in driver.find_elements_by_xpath("//div[@class='_2B099V']/a"):
        product_descr.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]"):
        prices.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[3]/span"):
        discount_.append(l.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
    time.sleep(3)

In [62]:
brands[0:3]

['Royal Son', 'ROZZETTA CRAFT', 'FDA COLLECTION']

In [63]:
product_descr[0:3]

['Polarized, Mirrored Round Sunglasses (49)',
 '₹615₹1,99969% off',
 'Polarized, Gradient, UV Protection Round Sunglasses (Fr...']

In [64]:
product_description=product_descr[::2]

In [65]:
prices[0:3]

['₹615', '₹426', '₹199']

In [66]:
discount_[0:3]

['69% off', '78% off', '84% off']

In [67]:
glasses=pd.DataFrame({})
glasses['Brand']=brands[0:100]
glasses['Product_description']=product_description[0:100]
glasses['Price']=prices[0:100]
glasses['Discount']=discount_[0:100]

In [68]:
glasses

,Brand,Product_description,Price,Discount
0,Royal Son,"Polarized, Mirrored Round Sunglasses (49)",₹615,69% off
1,ROZZETTA CRAFT,"Polarized, Gradient, UV Protection Round Sungl...",₹426,78% off
2,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹199,84% off
3,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹219,78% off
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
...,...,...,...,...
95,FDA COLLECTION,"Gradient, Mirrored, UV Protection Round, Round...",₹559,87% off
96,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹244,79% off
97,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹181,81% off
98,funglasses,"UV Protection, Night Vision, Riding Glasses Ro...",₹331,83% off
99,Flizz,"UV Protection, Polarized Rectangular Sunglasse...",₹179,81% off

### 7.Scrape 100 reviews data from flipkart.com for iphone11 phone

In [69]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART")

In [70]:
ratingss=[]
review_summariess=[]
full_reviewss=[]

In [72]:
for l in range(0,13):
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        ratingss.append(i.text)
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        review_summariess.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div[1]"):
        full_reviewss.append(k.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
    time.sleep(3)

In [73]:
apple_phone=pd.DataFrame({})
apple_phone['rating']=ratingss[0:100]
apple_phone['review_summary']=review_summariess[0:100]
apple_phone['full_summary']=full_reviewss[0:100]
apple_phone

,rating,review_summary,full_summary
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Highly recommended,It's my first time to use iOS phone and I am l...
96,5,Terrific purchase,The built quality is not very premium.\nThe ba...
97,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
98,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
99,5,Wonderful,I just directly switch from iphone 6s to iphon...

### 8.Scrape data for first 100 sneakers from flipkart

In [74]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [75]:
brands=[]
product_descr=[]
prices=[]
discount_=[]

In [76]:
for i in range(0,3):
    for i in driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]"):
        brands.append(i.text)
    for j in driver.find_elements_by_xpath("//div[@class='_2B099V']/a"):
        product_descr.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[1]"):
        prices.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='_25b18c']/div[3]/span"):
        discount_.append(l.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span").click()
    time.sleep(3)

In [77]:
product_descr[0:6]

["MULTICOLOUR SHOES FOR MEN'S Sneakers For Men",
 '₹398₹99960% off',
 'X-Ray 2 Square PACK Sneakers For Men',
 '₹4,339₹6,99938% off',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men',
 '₹499₹1,99675% off']

In [78]:
product_description=product_descr[::2]
product_description[0:3]

["MULTICOLOUR SHOES FOR MEN'S Sneakers For Men",
 'X-Ray 2 Square PACK Sneakers For Men',
 'Combo Pack of 4 Casual Sneakers With Sneakers For Men']

In [79]:
sneakers=pd.DataFrame({})
sneakers['Brand']=brands[0:100]
sneakers['Product_description']=product_description[0:100]
sneakers['Price']=prices[0:100]
sneakers['Discount']=discount_[0:100]
sneakers

,Brand,Product_description,Price,Discount
0,MISHTOO,MULTICOLOUR SHOES FOR MEN'S Sneakers For Men,₹398,60% off
1,Puma,X-Ray 2 Square PACK Sneakers For Men,"₹4,339",38% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹378,62% off
...,...,...,...,...
95,Chevit,168 Smart Red Lace-Ups Casuals for Men Sneaker...,₹224,64% off
96,Red Rose,Sneakers For Men,₹398,70% off
97,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹260,59% off
98,Hotstyle,Sneakers For Men,₹499,62% off
99,DIGITRENDZZ,Sneakers For Men,₹349,85% off

### 9.Go to the link - https://www.myntra.com/shoes ,Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black"

In [83]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5839.0_11559.0_5839.0%20TO%2011559.0")

In [84]:
brands=[]
product_descr=[]
prices=[]

In [88]:
for i in range(0,5):
    for i in driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3"):
        brands.append(i.text)
    for j in driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4"):
        product_descr.append(j.text)
    for k in driver.find_elements_by_xpath("//span[@class='product-discountedPrice']"):
        prices.append(k.text)
    driver.find_element_by_xpath("//li[@class='pagination-next']/a").click()
    time.sleep(3)

In [89]:
product_description=product_descr[::2]

In [90]:
shoes=pd.DataFrame({})
shoes['Brand']=brands[0:100]
shoes['Product_description']=product_description[0:100]
shoes['Price']=prices[0:100]
shoes

                   Brand             Product_description     Price
0                   Nike     Men JORDAN DELTA Basketball  Rs. 9999
1                   Puma  Men HYBRID NETFIT Running Shoe  Rs. 6599
2                   Nike    Men Solid SKYVE MAX Sneakers  Rs. 6999
3                   Nike       Men JORDAN DELTA Sneakers  Rs. 8199
4                   Nike          Men Zoom Running Shoes  Rs. 6399
..                   ...                             ...       ...
95                  Nike   Women AIR MAX VERONA Sneakers  Rs. 6742
96  Heel & Buckle London      Men Leather Formal Oxfords  Rs. 5949
97                  Xtep      AIR MEGA Energy Ring Shoes  Rs. 8099
98        Tommy Hilfiger   Men Solid TS Sport 2 Sneakers  Rs. 5949
99        Tommy Hilfiger    CHUNKY TECH Leather Sneakers  Rs. 9443

[100 rows x 3 columns]

### 10.Go to webpage https://www.amazon.in/ then search for laptop

In [91]:
#specifying the url of the webpage to be scraped by opening driver
driver.get("https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611304960&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17")

In [92]:
title=[]
ratings=[]
price=[]

In [93]:
for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
    title.append(i.text)

In [94]:
for i in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
    price.append(i.text)

In [95]:
for i in range(0,11):
    driver.find_element_by_xpath("//i[@class='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']").click()
    for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']"):
        ratings.append(i.text)

In [96]:
laptops=pd.DataFrame({})
laptops['Title']=title[0:10]
laptops['ratings']=ratings[0:10]
laptops['Price']=price[0:10]
laptops

                                               Title       ratings     Price
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    51,999
1  Dell XPS 9570 15.6-inch FHD Laptop (8th Gen Co...  4.4 out of 5  1,27,990
2  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    53,599
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    51,999
4  (Renewed) Dell Latitude E6420 14 Inch Laptop (...  4.4 out of 5    45,000
5  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    52,699
6  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    54,399
7  (Renewed) Dell Latitude E7470 14-inch Laptop (...  4.4 out of 5    55,299
8  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  4.4 out of 5    97,700
9  Acer Nitro 5 Intel Core i7 10750H 15.6" FHD IP...  4.4 out of 5    78,990