### 1.Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
ranks=[]
name=[]
artist=[]
upload_date=[]
views=[]

In [5]:
rank_tags=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td")
rank_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="a62793ca21961f810dbc5bb70ea3c91e", element="31f9b5a0-fbdc-4834-b3f4-d98717bfd4a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a62793ca21961f810dbc5bb70ea3c91e", element="8761c6d4-556a-4b79-b2cf-4cdab7e9523f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a62793ca21961f810dbc5bb70ea3c91e", element="f69ca087-107f-4f5d-80dd-9e5d9abeb969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a62793ca21961f810dbc5bb70ea3c91e", element="eeafec7b-b077-4b1d-9fd1-9773b2e40fa2")>]

In [6]:
ranki=[]
for i in rank_tags:
    title=i.text
    ranki.append(title)
ranki[0:4]

['1.', '"Baby Shark Dance"[28]', "Pinkfong Kids' Songs & Stories", '7.91']

In [7]:
ranki[0:16]

['1.',
 '"Baby Shark Dance"[28]',
 "Pinkfong Kids' Songs & Stories",
 '7.91',
 'June 17, 2016',
 '[B]',
 '2.',
 '"Despacito"[30]',
 'Luis Fonsi featuring Daddy Yankee',
 '7.20',
 'January 12, 2017',
 '[C]',
 '3.',
 '"Shape of You"[31]',
 'Ed Sheeran',
 '5.18']

In [8]:
names=ranki[1::6]
names[0:4]

['"Baby Shark Dance"[28]',
 '"Despacito"[30]',
 '"Shape of You"[31]',
 '"See You Again"[32]']

In [9]:
rank=ranki[0::6]
rank[0:4]

['1.', '2.', '3.', '4.']

In [10]:
artist=ranki[2::6]
artist[0:4]

["Pinkfong Kids' Songs & Stories",
 'Luis Fonsi featuring Daddy Yankee',
 'Ed Sheeran',
 'Wiz Khalifa featuring Charlie Puth']

In [11]:
date=ranki[4::6]
date[0:4]

['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'April 6, 2015']

In [12]:
views=ranki[3::6]
views[0:4]

['7.91', '7.20', '5.18', '4.96']

In [13]:
videos=pd.DataFrame({})
videos['rank']=rank[0:30]
videos['name']=names[0:30]
videos['artist']=artist[0:30]
videos['date']=date[0:30]
videos['views(billions)']=views[0:30]
videos

,rank,name,artist,date,views(billions)
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.91
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.20
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.18
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.96
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.77
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.09
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.97
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.69
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.64
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,"March 6, 2014",3.53
11,12.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.40
12,13.,"""Sugar""[44]",Maroon 5,"January 14, 2015",3.39
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.27
14,15.,"""Counting Stars""[46]",OneRepublic,"May 31, 2013",3.19
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,"October 7, 2014",3.18
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,"April 5, 2018",3.11
17,18.,"""Shake It Off""[49]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[50]",Alan Walker,"December 3, 2015",2.98
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.97
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.97
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,"February 20, 2014",2.97
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,"May 31, 2018",2.96
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.91
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,"June 29, 2017",2.86
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[58]",Ed Sheeran,"November 9, 2017",2.74
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,"June 4, 2010",2.74
28,29.,"""Blank Space""[60]",Taylor Swift,"November 10, 2014",2.72
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,"November 18, 2016",2.62

### 2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [62]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [63]:
driver.get("https://www.bcci.tv/")

In [64]:
search_button=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
search_button.click()

In [65]:
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [66]:
fixture_button=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']")
fixture_button.click()

In [67]:
titles=[]
series=[]
place=[]
date=[]
time=[]

In [68]:
tags=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")

In [69]:
for i in tags:
    title=i.text
    titles.append(title)
titles[0:4]

['2nd Test', '3rd Test', '4th Test', '1st T20I']

In [70]:
tags=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[1]")
for i in tags:
    title=i.text
    series.append(title)
series[0:4]

['TEST', 'TEST', 'TEST', 'T20I']

In [71]:
tags=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span[1]")
for i in tags:
    title=i.text
    place.append(title)
place[0:4]

['M. A. Chidambaram Stadium, Chennai',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad',
 'Sardar Patel Stadium, Ahmedabad']

In [72]:
dates=[]
tags=driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in tags:
    title=i.text
    dates.append(title)
dates[0:4]

['13\nFEBRUARY\n09:30 IST',
 '24\nFEBRUARY\n14:30 IST',
 '04\nMARCH\n09:30 IST',
 '12\nMARCH\n19:00 IST']

In [73]:
res=[]
for i in dates:
    res.append(i.replace("\n"," "))

In [74]:
res[0:4]

['13 FEBRUARY 09:30 IST',
 '24 FEBRUARY 14:30 IST',
 '04 MARCH 09:30 IST',
 '12 MARCH 19:00 IST']

In [75]:
time=[i.split(" ")[-2] for i in res]

In [76]:
time[0:4]

['09:30', '14:30', '09:30', '19:00']

In [78]:
da=[i.split(" ")[0] for i in res]
da[0:3]

['13', '24', '04']

In [79]:
te=[i.split(" ")[1] for i in res]
te[0:3]

['FEBRUARY', 'FEBRUARY', 'MARCH']

In [84]:
fixtures=pd.DataFrame({'Match Title':titles,'Series':series,'Place':place,'Date':da,'month':te,'Time':time})
fixtures

,Match Title,Series,Place,Date,month,Time
0,2nd Test,TEST,"M. A. Chidambaram Stadium, Chennai",13,FEBRUARY,09:30
1,3rd Test,TEST,"Sardar Patel Stadium, Ahmedabad",24,FEBRUARY,14:30
2,4th Test,TEST,"Sardar Patel Stadium, Ahmedabad",04,MARCH,09:30
3,1st T20I,T20I,"Sardar Patel Stadium, Ahmedabad",12,MARCH,19:00
4,2nd T20I,T20I,"Sardar Patel Stadium, Ahmedabad",14,MARCH,19:00
5,3rd T20I,T20I,"Sardar Patel Stadium, Ahmedabad",16,MARCH,19:00
6,4th T20I,T20I,"Sardar Patel Stadium, Ahmedabad",18,MARCH,19:00
7,5th T20I,T20I,"Sardar Patel Stadium, Ahmedabad",20,MARCH,19:00
8,1st ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",23,MARCH,13:30
9,2nd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",26,MARCH,13:30
10,3rd ODI,ODI,"Maharashtra Cricket Association Stadium, Pune",28,MARCH,13:30
11,1st Test,TEST,"Trent Bridge, Nottingham",04,AUGUST,15:30
12,2nd Test,TEST,"Lord's, London",12,AUGUST,15:30
13,3rd Test,TEST,"Headingley, Leeds",25,AUGUST,15:30
14,4th Test,TEST,"The Oval, London",02,SEPTEMBER,15:30
15,5th Test,TEST,"Old Trafford, Manchester",10,SEPTEMBER,15:30

### 3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

In [130]:
driver.get("https://www.guru99.com/")

In [127]:
selenium_button=driver.find_element_by_xpath("//li[@class='fa fa-chevron-circle-right']/a")
selenium_button.click()

In [131]:
urls=driver.find_elements_by_xpath("//li[@class='fa fa-chevron-circle-right']/a")
UR=[]
for i in urls:
    UR.append(i.get_attribute('href'))
urls[2].click()

In [132]:
driver.get("https://www.guru99.com/exception-handling-selenium.html")

In [148]:
name_tags=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
name_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="4edc0417-5149-4b15-876b-8bbb498c4dd9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="0c63b552-4a7b-4a76-b7b2-94d3a1ce1811")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="d9f3d217-2f61-4a8d-82fb-8a1a21a51c0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="19795cad-b636-4110-9ab6-88410f932859")>]

In [149]:
names=[]
for i in name_tags:
    title=i.text
    names.append(title)
names

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [147]:
tags=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="e848e381-ad00-471f-bc89-40f273b1ce19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="0898251d-3e05-4a04-b979-3856e9aad467")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="a430b172-2ac6-45b3-92f0-8670aea235ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="12b044f14ce43b368634b6ef3832a461", element="64ae7239-3268-4e8d-a1a3-80ba240cccad")>]

In [152]:
description=[]
for i in tags:
    title=i.text
    description.append(title)
description[1:5]

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.']

In [153]:
exceptions=pd.DataFrame({})
exceptions['EXception Name']=name[1:]
exceptions['Description']=description[1:]
exceptions

,EXception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

### 4.Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [83]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [84]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [86]:
driver.get("http://statisticstimes.com/")

In [87]:
button=driver.find_element_by_xpath("//div[@class='dropdown']/button")
button.click()

In [89]:
driver.get("http://statisticstimes.com/economy/india/indian-states-gdp.php")

In [90]:
rank=[]
state=[]
GSDP=[]
share=[]
GDP=[]

In [91]:
tags=driver.find_element_by_xpath("//div[@class='dataTables_wrapper']")

In [92]:
tags=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td")
tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="553f91bf44618c062f1eeb4edf50b681", element="5ba5114f-4dd2-47a7-ac65-12f458559984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="553f91bf44618c062f1eeb4edf50b681", element="025e34be-e2af-4171-8c36-c8f23d7f7561")>,
 <selenium.webdriver.remote.webelement.WebElement (session="553f91bf44618c062f1eeb4edf50b681", element="62453346-277d-403e-8981-2207399bf84f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="553f91bf44618c062f1eeb4edf50b681", element="e8c487dc-3a3c-46e9-85fc-5f324d5dc08b")>]

In [93]:
for i in tags:
    title=i.text
    rank.append(title)
rank[0:5]

['1', 'Maharashtra', '-', '2,632,792', '13.88%']

In [94]:
ranks=rank[0::8]
ranks[0:4]

['1', '2', '3', '4']

In [95]:
state=rank[1::8]
state[0:4]

['Maharashtra', 'Uttar Pradesh', 'Tamil Nadu', 'Karnataka']

In [96]:
GSDP1=rank[2::8]
GSDP1[0:4]

['-', '1,794,508', '1,845,853', '1,699,115']

In [97]:
GS=rank[3::8]
GS[0:4]

['2,632,792', '1,668,229', '1,630,208', '1,544,399']

In [98]:
share=rank[4::8]
share[0:4]

['13.88%', '8.79%', '8.59%', '8.14%']

In [99]:
GDP=rank[5::8]
GDP[0:4]

['398.145', '252.278', '246.529', '233.552']

In [102]:
GDP_state=pd.DataFrame({'Rank':ranks,'State':state,'GSDP(19-20)':GSDP1,'GSDP(18-19)':GS,'Share(18-19)':share,'GDP':GDP})
GDP_state

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Uttar Pradesh,"1,794,508","1,668,229",8.79%,252.278
2,3,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
3,4,Karnataka,"1,699,115","1,544,399",8.14%,233.552
4,5,Gujarat,-,"1,502,899",7.92%,227.276
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"531,374","492,229",2.59%,74.437
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,-,"73,170",0.39%,11.065
23,24,Tripura,"55,358","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"40,802","36,656",0.19%,5.543
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,-,"27,869",0.15%,4.214
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,-,"19,520",0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [150]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [151]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [152]:
driver.get("https://github.com/")

In [153]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
search_button.click()

In [154]:
button=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/div/ul[2]/li[3]/a")
button.click()

In [155]:
title=[]
desc=[]
count=[]
language_used=[]

In [156]:
tags=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in tags:
    if i.text is None :
        title.append("--") 
    else:
        title.append(i.text)
title[0:2]

['Melvin-Abraham / Google-Assistant-Unofficial-Desktop-Client',
 'benawad / dogehouse']

In [157]:
tags=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
for i in tags:
    if i.text is None :
        desc.append("--") 
    else:
        desc.append(i.text)
desc[0:2]

['A cross-platform unofficial Google Assistant Client for Desktop (powered by Google Assistant SDK)',
 'The home for voice conversations.']

In [163]:
lang_used=[]
tags=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]/span[2]")
for i in tags:
    lang_used.append(i.text)
lang_used[0:4]

['JavaScript', 'TypeScript', 'C++', 'Zig']

In [164]:
tags=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[1]")
for i in tags:
    count.append(i.text)
count[0:4]

['773', '812', '8,696', '361']

In [166]:
Github=pd.DataFrame({'Repository title':title[0:15],'Repository description':desc[0:15],'Contributors count':count[0:15],'Language used':lang_used[0:15]})
Github

,Repository title,Repository description,Contributors count,Language used
0,Melvin-Abraham / Google-Assistant-Unofficial-D...,A cross-platform unofficial Google Assistant C...,773,JavaScript
1,benawad / dogehouse,The home for voice conversations.,812,TypeScript
2,flameshot-org / flameshot,Powerful yet simple to use screenshot software,"8,696",C++
3,ratfactor / ziglings,Learn the Zig programming language by fixing t...,361,Zig
4,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",678,HTML
5,libsdl-org / SDL,Simple Directmedia Layer,569,C
6,satwikkansal / wtfpython,What the f*ck Python?,"24,775",Python
7,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,123,Rust
8,deepmind / deepmind-research,This repository contains implementations and i...,"5,281",Jupyter Notebook
9,TheAlgorithms / Java,All Algorithms implemented in Java,"35,052",Java
10,trekhleb / javascript-algorithms,Algorithms and data structures implemented in ...,"96,043",JavaScript
11,skerkour / bloom,The simplest way to de-Google your life and bu...,311,Rust
12,serhii-londar / open-source-mac-os-apps,Awesome list of open source applications for m...,"24,940",Swift
13,PojavLauncherTeam / PojavLauncher_iOS,Minecraft: Java Edition launcher for iOS,88,Java
14,yugedata / Options_Data_Science,"Collecting, analyzing, visualizing & paper tra...",128,Python

### 6.Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/

In [177]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [178]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [179]:
driver.get("https://www.billboard.com/")

In [181]:
chart_button=driver.find_element_by_xpath("//div[@class='header__sticky__child']/header/div/ul/li[1]/a")
chart_button.click()

In [183]:
button=driver.find_element_by_xpath("//div[@class='charts-landing__info--top charts-landing__info--top--hot-100']")
button.click()

In [184]:
song=[]
artist=[]
last_week=[]
peak_rank=[]
wks=[]

In [185]:
tags=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in tags:
    if i.text is None :
        song.append("--") 
    else:
        song.append(i.text)
song[0:2]

['Drivers License', 'Mood']

In [186]:
tags=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in tags:
    if i.text is None :
        artist.append("--") 
    else:
        artist.append(i.text)
artist[0:2]

['Olivia Rodrigo', '24kGoldn Featuring iann dior']

In [188]:
tags=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in tags:
    if i.text is None :
        last_week.append("--") 
    else:
        last_week.append(i.text)
last_week[0:2]

['1', '2']

In [189]:
tags=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in tags:
    if i.text is None :
        peak_rank.append("--") 
    else:
        peak_rank.append(i.text)
peak_rank[0:2]

['1', '1']

In [190]:
tags=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in tags:
    if i.text is None :
        wks.append("--") 
    else:
        wks.append(i.text)
wks[0:2]

['4', '26']

In [192]:
billboard=pd.DataFrame({'Song name':song[0:100],'Artist name':artist[0:100],'Last week rank':last_week[0:100],'Peak rank':peak_rank[0:100],'Weeks on board':wks[0:100]})
billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

### 7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [33]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [34]:
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [35]:
driver.get("https://www.naukri.com/")

In [36]:
button=driver.find_element_by_xpath("//div[@class='headGNBWrap initial fixed']/div/ul[1]/li[2]/a")
button

In [37]:
UR=[]
UR.append(button.get_attribute('href'))
UR

['https://www.naukri.com/recruiters']

In [38]:
for i in UR:
    driver.get(i)

In [39]:
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Scientist")

In [43]:
search_field=driver.find_element_by_id("qsbFormBtn")
search_field.click()

In [44]:
name=[]
designation=[]
company=[]
location=[]
skills=[]

In [45]:
#scraping the company_name 
tags=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in tags:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)
name[0:2]

['Tanushree', 'sashi bhushan']

In [46]:
#scraping the job-titles
titles=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in titles:
    if i.text is None :
        designation.append("--") 
    else:
        designation.append(i.text)
    
designation[0:2]

['Lead Recruiter', 'Senior Specialist']

In [47]:
#scraping the job-location
locations=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in locations:
    if i.text is None :
        location.append("--") 
    else:
        location.append(i.text)
location[0:2]

['Noida', 'Bengaluru / Bangalore']

In [48]:
skillss=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skillss:
    if i.text is None :
        skills.append("--") 
    else:
        skills.append(i.text)
skills[0:2]

['UI Developers, Software Engineers, Quality Assurance, Principal Engineers, Data Scientists, Product Manager, Android Developer, Web Developer, Design, coding',
 'pig, hbase, sas, spss, apache, python, nosql, php, Cloud Computing, hadoop, r, Hadoop Architect, spark, flume, Advanced Excel, statistics']

In [49]:
companys=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in companys:
    if i.text is None :
        company.append("--") 
    else:
        company.append(i.text)
company[0:2]

['Tanushree', 'RecRoots']

In [51]:
comp=company[1::2]
comp[0:3]

['RecRoots', 'Wipro', 'Anvaya']

In [57]:
dt=pd.DataFrame({'Name':name[0:20],'Designation':designation[0:20],'Company':comp[0:20],'Skills they hire for':skills[0:20],'Location':location[0:20]})
dt

,Name,Designation,Company,Skills they hire for,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,sashi bhushan,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Invelopment,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,Anoop Somarajan,Assistant Manager Talent Acquisition,Access Healthcare,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
8,Helly Vyas,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
9,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
10,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,Naresh,IT Recruitment Consultant,Waterleaf Consultants Pvt. Ltd.,"Managers, Operational Head, Directors, Ceo, Da...",Hyderabad / Secunderabad
12,HS Sandesh,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
14,A Valsa Florina,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
16,Prashant K,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
18,Rakhi,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida

### 8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [35]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [36]:
# Activating the chrome browser
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\chromedriver.exe")

In [37]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [38]:
name=[]
author=[]
volume_sold=[]
publisher=[]
genre=[]

In [62]:
tags=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

[<selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="0b87bbb1-a466-406f-924e-3b82053a8189")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="5c67d96d-c694-4d4a-aee9-2be5d97bfeed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="07b49838-7dd3-46c6-90a4-a4fdc45cdfc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="9ed71fda-9f30-42eb-8577-69c0d5118162")>]

In [63]:
names=[]
for i in tags:
    title=i.text
    names.append(title)
names[0:4]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix']

In [64]:
tags=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

[<selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="ede9d172-3140-4202-ba6f-256b68498053")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="706dc3f2-ad18-4cca-91a3-11f611af3a39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="cd2d75f1-af07-476c-a014-331e4e9ec7e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="9b862190-6d21-4d3e-93cf-b2275dd8356b")>]

In [65]:
for i in tags:
    title=i.text
    author.append(title)
author[0:4]

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.']

In [66]:
tags=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

[<selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="651faeef-2e70-4f6e-979b-262604445725")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="ff4738d3-c01e-4cb5-ac10-654b41437ca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="397cc2ea-835d-4f37-bf86-8c5bff7e380c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="503b6994222e564db08fe7c414a0c644", element="b28ca9d2-7d25-4cec-ad08-13a2efeba10b")>]

In [67]:
for i in tags:
    title=i.text
    volume_sold.append(title)
volume_sold[0:4]

['5,094,805', '4,475,152', '4,200,654', '4,179,479']

In [68]:
tags=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

In [69]:
for i in tags:
    title=i.text
    publisher.append(title)
publisher[0:4]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury']

In [70]:
tags=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

In [71]:
for i in tags:
    title=i.text
    genre.append(title)
genre[0:4]

['Adventure', 'Fiction', 'Fiction', 'Fiction']

In [72]:
tags=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[1]")

In [73]:
for i in tags:
    title=i.text
    rank.append(title)
rank[0:4]

['1', '2', '3', '4']

In [76]:
novels=pd.DataFrame({})
novels['Rank']=rank[0:30]
novels['Book Name']=names[0:30]
novels['Author Name']=author[0:30]
novels['Volumes sold']=volume_sold[0:30]
novels['Publisher']=publisher[0:30]
novels['Genre']=genre[0:30]
novels

,Rank,Book Name,Author Name,Volumes sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,Adventure
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Sagas
5,6,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Fiction
6,7,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Fiction
7,8,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Fiction
8,9,Angels and Demons,"Brown, Dan","3,193,946",Transworld,Adventure
9,10,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Fiction
10,11,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Sagas
11,12,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Fiction
12,13,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,Adventure
13,14,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Sagas
14,15,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,Adventure
15,16,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Fiction
16,17,Deception Point,"Brown, Dan","2,062,145",Transworld,Adventure
17,18,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Fiction
18,19,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,Fiction
19,20,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,Fiction
20,21,Digital Fortress,"Brown, Dan","1,928,900",Transworld,Adventure
21,22,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Science
22,23,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,Adventure
23,24,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Fiction
24,25,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Books
25,26,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Books
26,27,Jamie's 30-Minute Meals,"Oliver, Jamie","1,743,266",Penguin,General
27,28,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,Fiction
28,29,One Day,"Nicholls, David","1,616,068",Hodder & Stoughton,Fiction
29,30,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,Fiction

### 9.. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls09596445

In [78]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [77]:
Name=[]
Year_span=[]
Genre =[]
Runtime=[]
Ratings=[]
Votes=[]

In [79]:
tags=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in tags:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
Name[0:2]

['Game of Thrones', 'Stranger Things']

In [80]:
tags=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in tags:
    if i.text is None :
        Year_span.append("--") 
    else:
        Year_span.append(i.text)
Year_span[0:2]

['(2011–2019)', '(2016– )']

In [81]:
tags=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in tags:
    if i.text is None :
        Genre.append("--") 
    else:
        Genre.append(i.text)
Genre[0:2]

['Action, Adventure, Drama', 'Drama, Fantasy, Horror']

In [82]:
tags=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in tags:
    if i.text is None :
        Runtime.append("--") 
    else:
        Runtime.append(i.text)
Runtime[0:2]

['57 min', '51 min']

In [83]:
tags=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
for i in tags:
    if i.text is None :
        Ratings.append("--") 
    else:
        Ratings.append(i.text)
Ratings[0:2]

['9.3', '8.7']

In [84]:
tags=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")
for i in tags:
    if i.text is None :
        Votes.append("--") 
    else:
        Votes.append(i.text)
Votes[0:2]

['|', '1,768,795']

In [86]:
Votes[0:7]

['|', '1,768,795', '|', '821,278', '|', '852,923', '|']

In [88]:
votes=Votes[1::2]
votes[0:7]

['1,768,795', '821,278', '852,923', '256,067', '216,277', '278,832', '117,803']

In [89]:
tv_series=pd.DataFrame({})
tv_series['Name']=Name
tv_series['Year_span']=Year_span
tv_series['Genre']=Genre
tv_series['Runtime']=Runtime
tv_series['Ratings']=Ratings
tv_series['Votes']=votes
tv_series

,Name,Year_span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,768,795"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"821,278"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"852,923"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,067"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,277"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,557"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,847"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,059"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,079"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,139"

### 10.Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [90]:
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [92]:
button=driver.find_element_by_xpath("//span[@class='whitetext']/a/font/b")
button.click()

In [93]:
name=[]
time=[]
task=[]
attribute_type=[]
no_instances=[]
no_attributes=[]
year=[]

In [94]:
tags=driver.find_elements_by_xpath("//p[@class='normal']/b/a")
for i in tags:
    if i.text is None :
        name.append("--") 
    else:
        name.append(i.text)
name[0:2]

['Abalone', 'Adult']

In [110]:
types=[]
tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")
for i in tags:
    if i.text is None :
        types.append("--") 
    else:
        types.append(i.text)
types[0:4]

['Data Types', 'Multivariate ', 'Multivariate ', 'Multivariate ']

In [101]:
tasks=[]
tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")
for i in tags:
    if i.text is None :
        tasks.append("--") 
    else:
        tasks.append(i.text)
tasks[0:1]

['Default Task']

In [102]:
tasks[2:5]

['Classification ', 'Classification ', 'Recommender-Systems ']

In [103]:
tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")
for i in tags:
    if i.text is None :
        attribute_type.append("--") 
    else:
        attribute_type.append(i.text)
attribute_type[0:4]

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ']

In [104]:
tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")
for i in tags:
    if i.text is None :
        no_instances.append("--") 
    else:
        no_instances.append(i.text)
no_instances[0:4]

['# Instances', '4177 ', '48842 ', '798 ']

In [108]:
no_attribute=[]
tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")
for i in tags:
    if i.text is None :
        no_attribute.append("--") 
    else:
        no_attribute.append(i.text)
no_attribute[0:4]

['# Attributes', '8 ', '14 ', '38 ']

In [109]:
tags=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")
for i in tags:
    if i.text is None :
        year.append("--") 
    else:
        year.append(i.text)
year[0:4]

['Year', '1995 ', '1996 ', ' ']

In [114]:
UCI_ML=pd.DataFrame({})
UCI_ML['Dataset Name']=name[0:]
UCI_ML['Data type']=types[1:]
UCI_ML['Task']=tasks[1:]
UCI_ML['Attribute Type']=attribute_type[1:]
UCI_ML['No of instances']=no_instances[1:]
UCI_ML['No of attributes']=no_attribute[1:]
UCI_ML['Year']=year[1:]
UCI_ML

,Dataset Name,Data type,Task,Attribute Type,No of instances,No of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020